<div class="splash-screen">
    <div class="splash-content">
      <h1>Budget App</h1>
      <div class="splash-buttons">
        <%= link_to "log in", new_user_session_path, data: { turbo: false }, class: "splash-button-1" %>
        <%= link_to "sign up", new_user_registration_path, data: { turbo: false } %>
      </div>
    </div>
  </div>