@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

a {
  text-decoration: none;
}

.splash-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: #eff2f1;
  color: #3f4852;
  overflow: hidden;
  margin: 0;
  position: relative;
}

.splash-content {
  text-align: center;
}

.splash-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: #61b524;
  left: 0;
  right: 0;
  height: 80px;
}

.page-link a {
  font-size: 16px;
}

.add-group a {
  width: 100%;
  padding: 10px 15px;
  margin: 20px 0;
  text-align: center;
  border-radius: 20px;
  border: 0 !important;
  outline: 0 !important;
  background-color: #3778c2;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.splash-buttons a {
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border: 1px solid white;
  margin: 5px 209px;
}

.page-link a:hover {
  color: #000;
}

.add-group a:hover {
  background-color: #3778c2;
}

.splash-button-1 {
  background-color: #3778c2;
}

.splash-buttons a:hover {
  background-color: #205580;
  color: white;
}

.form-container {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
}

.title {
  text-align: center;
  margin: 10px 0 30px 0;
  font-size: 28px;
  font-weight: 800;
}

.form {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 15px;
}

.input {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #c0c0c0;
  outline: 0 !important;
  box-sizing: border-box;
  padding: 12px 15px;
}

.page-link {
  margin-top: 20px;
  text-align: center;
  color: #747474;
  font-size: 16px;
}

.page-link-label {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
}

.page-link-label:hover {
  color: #000;
}

.form-btn {
  width: 100%;
  padding: 10px 15px;
  margin: 20px 0;
  border: 0 !important;
  outline: 0 !important;
  background-color: #3778c2;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.group-form {
  width: 100%;
  height: 90vh;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px 30px;
}

.form-btn:active {
  box-shadow: none;
}

.sign-up-label {
  margin: 0;
  font-size: 10px;
  color: #747474;
}

.sign-up-link {
  margin-left: 1px;
  font-size: 11px;
  text-decoration: underline;
  text-decoration-color: teal;
  color: teal;
  cursor: pointer;
  font-weight: 800;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #3778c2;
  padding: 13px;
  margin-bottom: 30px;
}

.toolbar2 > * {
  margin-left: 30px;
}

.back_btn > img {
  width: 14%;
}

.toolbar__groups {
  padding: 14px;
  color: #fff;
}

.bottom {
  position: relative;
  bottom: -337px;
}

.bottom2 {
  position: relative;
  bottom: -337px;
}

.bottom3 {
  position: relative;
  bottom: -326px;
  width: 100%;
}

.main-container {
  width: 100%;
  height: 90vh;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  border-radius: 10px;
  box-sizing: border-box;
}

.add-group {
  display: grid;
  place-items: center;
  padding: 50px;
}

.newgroup {
  max-width: 400px;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  place-items: center;
  background-color: #e2dede;
  padding: 50px;
}

.error-messages {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.form-field {
  margin-bottom: 15px;
}

.form-field select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #3778c2;
  border: 1px solid #3778c2;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.container {
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  max-width: 300px;
  margin: 20px auto;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  margin-bottom: 15px;
  padding-top: 14px;
  box-shadow: 0 5px 20px #c5cfdb;
}

.toolbar2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: #fff;
}

.toolbar2 img {
  width: 10%;
  margin-right: 10px;
}

.toolbar2 div {
  flex-grow: 1;
  margin-right: 10px;
}

.date {
  font-style: italic;
  color: #777;
  padding: 9px;
}

.flash-notice {
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.no-transactions {
  text-align: center;
  color: #777;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .back_btn {
    margin-right: 5px;
  }
}

.separate div {
  text-align: center;
}

.separate {
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  background: #fffdf4;
  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.separate div:last-child {
  font-weight: bold;
  color: #3498db;
}

.transaction-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  text-align: center;
}
